<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">¡Hablemos!</h2>
                <h3 class="section-subheading text-muted">
                    Para consultas y reservas puedes llamar a 
                    <a href="tel:+56949422096">+569 49422096</a>
                    , o comunicarte directamente al 
                    <a href="https://wa.me/56949422096"> whatsapp 
                    <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 1em; color:#25D366;"></i>
                    </a>
                </h3>
                
            </div>
        </div>
    </div>
</section>
